{% extends "layout.html" %}

{% block body %}			
			

	<form action="/poker" method="post">
		<fieldset class = "formulario" >
			<legend>Nome dos Participantes</legend>
			
			
			{% for participante in range(nro_participantes): %}
				{% if loop.index == 1 %}
					<label >Participante {{loop.index}}:</label>
					<input  class = "espaco_caixa" type = "text" name="p{{loop.index}}" value={{nome_p1}}><p></p>
				{% else %}
					<label >Participante {{loop.index}}:</label>
					<input  class = "espaco_caixa" type = "text" name="p{{loop.index}}"/><p></p>
				{% endif %}
	        	{% endfor %}
	
			
		</fieldset>
		<input name="nro_part" hidden=True value="{{nro_participantes}}" >
		<input name="qt_inicial" hidden=True value="{{quantia_inicial}}" >
		<fieldset class = "formulario" id = "sem_borda">
          		<input class="button" type="submit" value="Começar">
		</fieldset>
    </form>
				
				
{% endblock %}
